@model PlayWell.Models.LegoList

<div class="col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Create List</h3></div>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LastModified" value="@DateTime.Now"/>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>

        <br clear="all" /><br />
        <div style="margin-left:10px;">
            <a asp-action="Index">Back to List Manager</a>
        </div>

    </div>
</div>
