@model PlayWell.Models.LegoList

<div class="col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Delete List</h3></div>

        <div style="margin-left:10px;">
            <h3>Are you sure you want to delete this?</h3>

            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastModified)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastModified)
                </dd>
            </dl>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-actions no-color" style="margin-left:10px;">
                <input type="submit" value="Delete" class="btn btn-default" />
                <br clear="all" /><br />
                <a asp-action="Index">Back to List Manager</a>
            </div>
        </form>

    </div>
</div>
