@model PlayWell.Models.InventoryViewModels.InventoryViewModel

<div class="col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Manage Lists</h3></div>
        <br />
        <nav>
            <a asp-controller="LegoList" asp-action="Create" class="btn btn-default" style="margin-left: 10px;">Create List</a>
        </nav>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="4">Name</th>
                    <th colspan="1"># Items</th>
                    <th colspan="3">Last Modified</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (LegoList l in Model.LegoLists)
                {
                    <tr>
                        <td colspan="4">
                            <a href="http://playwellusa.com/Inventory/ItemList/?listId=@l.Id">@l.Name</a>
                        </td>
                        <td colspan="1">
                            @l.ListBridges.Count
                        </td>
                        <td colspan="3">
                            @l.LastModified
                        </td>
                        <td colspan="2">
                            <a asp-action="Edit" asp-route-id="@l.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@l.Id">Delete</a>
                        </td>
                    </tr>
                }
                @if (Model.LegoLists.Count == 0)
                {
                    <tr>
                        <td colspan="10">
                            No data to display.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>