﻿@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Add Phone Number";
}

<div class="col-md-10">
    <h2>@ViewData["Title"].</h2>
    <form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="form-horizontal">
        <h4>Add a phone number.</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Send verification code</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
