﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="col-md-10">
    <h2>@ViewData["Title"].</h2>

    <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
        <h4>Change Password Form</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => Model.FirstName)
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => Model.LastName)
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OldPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>zl
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Change password</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
