﻿@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<div class="col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading"><h2>@ViewData["Title"].</h2></div>
        <div class="panel-body">
            <p class="text-success">@ViewData["StatusMessage"]</p>
        </div>
        <div class="col-md-8 login-space">
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                    <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
                    }
                    else
                    {
                    <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
                    }
                </dd>
                <dt>External Logins:</dt>
                <dd>

                    @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
                </dd>
                <dt>Phone Number:</dt>
                <dd>
                    <p>
                        Phone Numbers can be used as a second factor of verification in two-factor authentication.
                        See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                        for details on setting up this ASP.NET application to support two-factor authentication using SMS.
                    </p>
                    @*@(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                    <br />
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                    [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                    }
                    else
                    {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                    }*@
                </dd>

                <dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                        for setting up this application to support two-factor authentication.
                    </p>
                    @*@if (Model.TwoFactor)
                    {
                    <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                    Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
                    </form>
                    }
                    else
                    {
                    <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                    <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
                    </form>
                    }*@
                </dd>
            </dl>
        </div>
    </div>
</div>
