﻿body, .container{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
}

.panel-primary > .panel-heading {
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #eee;
    border-radius: 0;
    margin-top: 2em;
}
.panel-primary {
    border: 0;
    width: 100%;
}

/* Header */
.header-alignment {
    text-align: center;
    background-color: deepskyblue;
    margin-top: 0;
    border-bottom: 2px solid #ddd;
    padding: 0.5em;
}

.header-style {
    color: #000;
    text-decoration: none;
    border-radius: 0;
    color: #fff;
    border-bottom: 0;
}

    .header-style:hover {
        color: #fff;
        text-decoration: none;
    }

/* Sidebar with links */
.sidebar-style {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #ddd;
}

.list-group-item {
    border: 1px solid #ddd;
}
a.list-group-item {
    color: #222;
}

.favorite-list {
    border: 1px solid #fff;
    background-color:#BCE7FD;
}
.sidebar-links:hover {
    color: #000;
    text-decoration: none;
}

.sidebar-heading{
    font-weight: bolder;
}

.product-list-heading > h3{
    padding-top: 0;
    padding-bottom: 0;
}
/* Favorites star*/
.bigger-star {
    color: gold;
    font-size: 2em;
}

.table > tbody > tr > td {
    padding: 20px;
}
.col-md-10{
    padding-left: 0;
    padding-right: 0;
}

.login-space{
    padding-left: 5em;
}

/* Product Order Entry */
.form-control, .form-space{
    margin-bottom: 15px;
}
#product-search-group{
    display: flex;
    align-items: baseline;
    margin-left: 1em;
}
#product-search-submit{
    margin-left:1em;
}

section.col-md-12.product-form-header {
    margin-bottom: 1em;
    background-color: #f5f5f5;
    padding: 2em;
    border-bottom: 2px solid #c9c9c9;
    border-top: 2px solid #c9c9c9;
}

section.col-md-12.add-item-group {
    padding: 2em 0 2em 0;
    border-top: 2px solid #c9c9c9;
} 

/*section.col-md-12.add-item-group {
    width: 100%;
}*/

input#quantity.form-control, input#pricePaid.form-control, select#sublocation.form-control {
    width: 5em;
}

input#location.form-control{
    width: 8em;
}

/* Inventory */
select#displayAmount.form-control{
    width: 5em;
}