﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Playwell Central</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="container body-content">
        <div class="col-md-2 sidebar-style">
            <h3 class="header-alignment"><a class="header-style" asp-controller="Home" asp-action="Index">Playwell Central</a></h3>
            <div class="panel panel-primary">
                <div class="panel-heading sidebar-heading">Inventory</div>
                <div class="list-group">
                    <a class="sidebar-links list-group-item" asp-controller="Inventory" asp-action="Index">Dashboard</a>
                    <a class="sidebar-links list-group-item" asp-controller="Inventory" asp-action="MasterList">Master List</a>
                    <a class="sidebar-links list-group-item" asp-controller="Inventory" asp-action="Inventory">Inventory</a>
                    <a class="sidebar-links list-group-item" asp-controller="LegoList" asp-action="Index">Manage Lists</a>
                        @if (ViewBag.LegoLists != null)
                        {
                            @foreach (LegoList l in ViewBag.LegoLists)
                            {
                                if (@l.Id != 7)
                                {
                                   <a class="sidebar-links list-group-item favorite-list" href="http://playwellusa.com/Inventory/ItemList/?listId=@l.Id"><span class="glyphicon glyphicon-th-list"></span>  @l.Name</a>
                                }
                            }
                        }
                        else
                        {
                        }
                    <div class="sidebar-links list-group-item">--</div>
                    <a class="sidebar-links list-group-item" asp-controller="ProductEntryOrder" asp-action="Index">Product Entry Order</a>
                    <a class="sidebar-links list-group-item" asp-controller="ProductEntryOrder" asp-action="SeeAllInvoices">All Invoices</a>
                    <a class="sidebar-links list-group-item" asp-controller="Manage" asp-action="Index">Manage Account</a>
                </div>
            </div>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button class="btn btn-default" style="margin-top:5px;" type="submit">Log Out</button>
            </form>
        </div>
        @RenderBody()
        @*<footer>
                <p>&copy; 2017 - Playwell</p>
            </footer>*@
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
