﻿@{
    ViewData["Title"] = "Product List";
}

<div class="col-md-10 listview">
    <div class="panel panel-primary">
        <div class="panel-heading product-list-heading"><h3>Dashboard</h3></div>
        <div class="panel-body">
            @* SKU Total Panel *@
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        SKU Total
                    </div>
                    <div class="panel-body">
                        $0.00
                    </div>
                </div>
            </div>
            @* Inventory Total Panel *@
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Inventory Total
                    </div>
                    <div class="panel-body">
                        $0.00
                    </div>
                </div>
            </div>
            @* Value Total *@
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Value Total
                    </div>
                    <div class="panel-body">
                        $0.00
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
