﻿@model PlayWell.Models.InventoryViewModels.InventoryViewModel

<div class="col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Master List</h3></div>
        <div class="panel-body">
            @* Search/Filter *@
            <form id="searchForm" class="form-inline" asp-controller="Inventory" asp-action="MasterList">
                <div class="form-group">
                    <label for="filter"><span class="glyphicon glyphicon-search"></span></label>
                    <input type="text" asp-for="Filter" class="form-control" id="filter" placeholder="Filter master list">
                    <label for="setPartDropdown">Type:</label>
                    <select class="form-control" asp-for="Type" asp-items="@(new SelectList(Model.LegoTypes, "Id", "Name"))"></select>
                    <label for="displayAmount">Display:</label>
                    <select class="form-control" asp-for="AmountToDisplay" id="displayAmount">
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    <button class="btn btn-default form-control" type="submit">Submit</button>
                </div>
            </form>
            <br />
        </div>
        @* Result set information + Previous and next buttons *@
        @if (Model.LegoItems.Count != 0)
        {
            <div class="col-md-7">
                <p>Total Results: <span id="TotalResults">@Model.TotalResults</span></p>
                <p>Page Number: <span id="PageNumber">@Model.PageNumber</span> / <span id="TotalPages">@Model.TotalPages</span></p>
            </div>
            <div class="col-md-1">
                <form asp-controller="Inventory"
                      asp-action="MasterList">
                    @Html.Hidden("Filter", Model.Filter)
                    @Html.Hidden("Type", Model.Type)
                    @Html.Hidden("View", Model.View)
                    @Html.Hidden("AmountToDisplay", Model.AmountToDisplay)
                    @Html.Hidden("LegoItems", Model.LegoItems)
                    @Html.Hidden("Counter", Model.Counter + 1)
                    @Html.Hidden("Previous", "Previous")
                    @if (Model.PageNumber == 1)
                    {
                        <button type="submit"
                                class="btn btn-default disabled">
                            Previous
                        </button>
                    }
                    else
                    {
                        <button type="submit"
                                class="btn btn-default">
                            Previous
                        </button>
                    }
                </form>
            </div>
            <div class="col-md-1">
                <form asp-controller="Inventory"
                      asp-action="MasterList">
                    @Html.Hidden("Filter", Model.Filter)
                    @Html.Hidden("Type", Model.Type)
                    @Html.Hidden("View", Model.View)
                    @Html.Hidden("AmountToDisplay", Model.AmountToDisplay)
                    @Html.Hidden("LegoItems", Model.LegoItems)
                    @Html.Hidden("Counter", Model.Counter + 1)
                    <button type="submit" class="btn btn-default nextButton"> Next </button>
                </form>
            </div>

            <div class="col-md-3">
                <label for="chosenList">List:</label>
                <select id="chosenList" class="form-control" style="display:inline-block;width:200px;">
                    @if (Model.LegoLists != null)
                    {
                        @foreach (LegoList l in Model.LegoLists)
                        {
                            @if (l.Id == Model.ChosenList.Id)
                            {
                                <option selected value="@l.Id">@l.Name</option>
                            }
                            else
                            {
                                <option value="@l.Id">@l.Name</option>

                            }
                        }
                    }
                </select>
            </div>
        }

        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="35%">Description</th>
                    <th>Part&nbsp;ID</th>
                    <th>Avg&nbsp;cost</th>
                    <th>Avg&nbsp;Price</th>
                    <th>Method</th>
                    <th>Sugg&nbsp;Price</th>
                    <th>Price</th>
                    @if (Model.ChosenList != null)
                    {
                        @if (Model.ChosenList.Id != 7)
                        {
                            <th></th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AmountToDisplay; i++)
                {
                    <tr>
                        @if (Model.LegoItems.Count != 0)
                        {
                            <td width="35%">
                                @foreach (LegoColor lc in Model.LegoColors)
                                {
                                    @if (lc.Id == Model.LegoItems[i].LegoColorId)
                                    {
                                        @lc.Name
                                    }
                                } : @Model.LegoItems[i].Description
                            </td>
                            <td>@Model.LegoItems[i].BrickLinkId</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>
                                <select id="PricingMethod_@Model.LegoItems[i].Id" class="pricingMethod form-control">
                                    @if (Model.PricingMethods != null)
                                    {
                                        @foreach (PricingMethod p in Model.PricingMethods)
                                        {
                                            @if (p.Id == @Model.LegoItems[i].PricingMethodId)
                                            {
                                                <option selected value="@p.Id">@p.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@p.Id">@p.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </td>
                            <td><span id="SuggestedPrice_@Model.LegoItems[i].Id">@Model.LegoItems[i].SuggestedPrice</span></td>
                            <td>
                                <input type="number" class="priceChange form-control" id="Price_@Model.LegoItems[i].Id" value="@Model.LegoItems[i].Price">
                            </td>
                            @if (Model.ChosenList != null)
                            {
                                @if (Model.ChosenList.Id != 7)
                                {
                                    <td>
                                        @if (Model.LegoItems[i].IsFavorite)
                                        {
                                            <i id="ListBridge_@Model.LegoItems[i].Id" class="favoriteStar glyphicon glyphicon-star bigger-star"></i>
                                        }
                                        else
                                        {
                                            <i id="ListBridge_@Model.LegoItems[i].Id" class="favoriteStar glyphicon glyphicon-star-empty bigger-star"></i>
                                        }
                                    </td>
                                }
                            }
                        }
                    </tr>
                }
                @if (Model.LegoItems.Count == 0)
                {
                    <tr>
                        <td colspan="14">
                            No data to display.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (Model.LegoItems.Count != 0)
    {
        <div class="col-md-2">

            <form asp-controller="Inventory"
                  asp-action="MasterList">
                @Html.Hidden("Filter", Model.Filter)
                @Html.Hidden("Type", Model.Type)
                @Html.Hidden("View", Model.View)
                @Html.Hidden("AmountToDisplay", Model.AmountToDisplay)
                @Html.Hidden("LegoItems", Model.LegoItems)
                @Html.Hidden("Counter", Model.Counter + 1)
                @Html.Hidden("Previous", "Previous")
                @if (Model.PageNumber == 1)
                {
                    <button type="submit"
                            class="btn btn-default disabled">
                        Previous
                    </button>
                }
                else
                {
                    <button type="submit"
                            class="btn btn-default">
                        Previous
                    </button>
                }
            </form>

        </div>
        <div class="col-md-2">
            @if (Model.PageNumber != Model.TotalPages)
            {
                <form asp-controller="Inventory"
                      asp-action="MasterList">
                    @Html.Hidden("Filter", Model.Filter)
                    @Html.Hidden("Type", Model.Type)
                    @Html.Hidden("View", Model.View)
                    @Html.Hidden("AmountToDisplay", Model.AmountToDisplay)
                    @Html.Hidden("LegoItems", Model.LegoItems)
                    @Html.Hidden("Counter", Model.Counter + 1)
                     <button type="submit" class="btn btn-default nextButton"> Next </button>
                </form>
            }
        </div>
    }

</div>