﻿@model PlayWell.Models.ProductOrderEntryViewModels.ProductOrderEntryViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Product Entry Order</h3></div>
        <div class="panel-body">
            @*/* Search Pane */*@
            @Html.Partial("InventorySearch")
            @* Add Item Section *@
            <section class="col-md-12 add-item-group">
                <form class="form-inline">
                    <table class="table table-responsive table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Qty</th>
                                <th>Price Paid</th>
                                <th>Condition</th>
                                <th>Warehouse</th>
                                <th>Item Location</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>
                                    <label for="description" class="sr-only">Description</label><br />
                                    <input id="description" type="text" class="form-control" placeholder="Description" />
                                </td>
                                <td>
                                    <label class="sr-only" for="quantity">Qty</label><br />
                                    <input id="quantity" type="number" class="form-control col-md-1" placeholder="Qty" />
                                </td>
                                <td>
                                    <label class="sr-only" for="pricePaid">Price</label><br />
                                    <input type="text" class="form-control" id="pricePaid" placeholder="Paid">
                                </td>
                                <td>
                                    <label class="sr-only" for="condition">Condition</label><br />
                                    <select class="form-control" asp-for="Condition" asp-items="@(new SelectList(Model.Conditions, "Id", "Name"))">
                                    </select>
                                </td>
                                <td>
                                    <label class="sr-only" for="warehouse">Warehouse</label><br />
                                    @if (Model.User != null)
                                    {
                                        <input id="location" type="text" class="form-control" placeholder="@Model.User.Warehouse" />
                                    }
                                    else
                                    {
                                        <select class="form-control" asp-for="WarehouseId" asp-items="@(new SelectList(Model.Warehouses, "Id", "Name"))">

                                        </select>

                                    }

                                </td>
                                <td>
                                    <label class="sr-only" for="sublocation">Location</label><br />
                                    <select id="sublocation" class="form-control">
                                        <option>Sublocation</option>
                                        <option>Sublocation A</option>
                                        <option>Sublocation B</option>
                                        <option>Sublocation C</option>
                                        <option>Sublocation D</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="deleteBtn" class="sr-only"></label>
                                    <button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </section>
            @* Product Form Header *@
            <section class="col-md-12 product-form-header">
                <form asp-controller="ProductOrderEntry" asp-action="Index" class="form-inline" id="product-order-form">

                    <div class="col-md-12 form-space">
                        <div class="form-group">
                            <label for="datePurchased">Date Purchased</label><br />
                            <input id="datePurchased" type="text" class="form-control" placeholder="Date Purchased" />
                        </div>
                        <div class="form-group">
                            <label for="User">Buying Agent</label><br />
                            <select class="form-control" asp-for="User" asp-items="@(new SelectList(Model.Users, "Id", "FirstName"))"></select>
                        </div>
                        <div class="form-group">
                            <label for="orderNumber">Order Number</label><br />
                            <input id="orderNumber" type="text" class="form-control" placeholder="Order Number" />
                        </div>
                        <div class="form-group">
                            <label for="orderStatus">Order Status</label><br />
                            <select class="form-control">
                                <option>This is hard-coded</option>
                                <option>New</option>
                                <option>New</option>
                                <option>New</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 form-space">
                        <div class="form-group">
                            <label for="buyerCommission">Commission</label><br />
                            <div class="input-group">
                                @if (Model.User != null)
                                {
                                    <input type="text" class="form-control" id="buyerCommission" placeholder="@Model.User.DefaultCommission">

                                }
                                else
                                {
                                    <input type="text" class="form-control" id="buyerCommission" placeholder="Commission">
                                }
                                
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="shipping">Shipping</label><br />
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" class="form-control" id="shipping" placeholder="Shipping">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salesTax">Tax</label><br />
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" class="form-control" id="salesTax" placeholder="Tax">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-space">
                        <div class="form-group">
                            <label for="store">Vendor</label><br />
                            <select id="store" class="form-control">
                                <option>--Select vendor--</option>
                                <option>Walmart</option>
                                <option>Walmart.com</option>
                                <option>Amazon</option>
                                <option>Target</option>
                                <option>Target.com</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="storeLocation">Vendor Location</label><br />
                            <input id="storeLocation" type="text" class="form-control" placeholder="Store Location" />
                        </div>
                    </div>
                    <button type="button" class="btn btn-default">Save</button>
                    <button type="submit" class="btn btn-default" >Review Invoice</button>
                </form>
            </section>@* End Product Form Header*@
        </div> @* End Panel Body*@
    </div> @*End Panel wrapper*@
</div> @*End col-md-10 wrapper*@

