﻿@model PlayWell.Models.ProductOrderEntryViewModels.ProductOrderEntryViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="product-form-search">
    <form asp-action="Index" class="form-inline">
            <div class="form-group" id="product-search-group">
               <span class="glyphicon glyphicon-search" for="productSearch" style="margin-right:1em"></span>
               <input type="text" asp-for="SearchString" id="productSearch" class="form-control" placeholder="Search inventory" />
                <button type="submit" class="btn btn-default" id="product-search-submit">Submit</button>    
            </div>
    </form> @* End Search Form *@
        <div class="col-md-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Item Number</th>
                        <th>Description</th>
                        <th>Year</th>
                        <th>Type</th>
                        <th>MSRP</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 10; i++)
                    {
                        @if (Model.SearchResult.Count != 0)
                        {
                            <tr>
                                <td>Item name</td>
                                <td>A description goes here.</td>
                                <td>2015</td>
                                <td>Type</td>
                                <td>MSRP</td>
                                <td><button type="submit" class="btn btn-default add-item" asp-for="ItemToAdd">Add Item</button></td>
                            </tr>
                        }
                    }
                    @if(Model.SearchResult.Count == 0)
                    {
                        <tr>
                            <td colspan="5">No result</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</section> @* End Search Section *@