<div class="col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Review Invoice</h3></div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Qty</th>
                        <th>Price&nbsp;Paid</th>
                        <th>Condition</th>
                        <th>Tax</th>
                        <th>Shipping</th>
                        <th>Location</th>
                        <th>Commission</th>
                        <th>Total</th>
                        <th>Grand&nbsp;Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Black Brick 1X1X3</td>
                        <td>10</td>
                        <td>$0.30</td>
                        <td>Fair</td>
                        <td>$0.03</td>
                        <td>$0.15</td>
                        <td>Warehouse</td>
                        <td>$0.30</td>
                        <td>$0.50</td>
                        <td>$5.50</td>
                    </tr>
                    <tr>
                        <td>Black Brick 1X1X3</td>
                        <td>10</td>
                        <td>$0.30</td>
                        <td>Fair</td>
                        <td>$0.03</td>
                        <td>$0.15</td>
                        <td>Warehouse</td>
                        <td>$0.30</td>
                        <td>$0.50</td>
                        <td>$5.50</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">Product Total:</li>
                    <li class="list-group-item">Total Shipping:</li>
                    <li class="list-group-item">Total Tax:</li>
                    <li class="list-group-item">Order Total:</li>
                    <li class="list-group-item">Total Commission:</li>
                    <li class="list-group-item">Grand Total:</li>
                </ul>
                <button class="btn btn-default">Edit order</button>
                <button class="btn btn-default">Submit</button>
            </div>
        </div>
    </div>
</div>

