﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-10">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Review All Invoices</h3></div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Buyer</th>
                    <th>Location</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>Buyer</td>
                    <td>Location</td>
                    <td>Status</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>